.chapter {
  &__container {
    border-radius: 0.2rem;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.2);
    cursor: default;
    margin: 3rem 0 5rem 21rem;
    padding: 1rem 1.5rem;
    width: 70%;

    &__description {
      margin-bottom: 2.6rem;
    }

    & audio {
      filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
      width: 100%;
    }
  }
}

@media (max-width: 640px) {
  .chapter {
    &__container {
      box-shadow: none;
      margin: auto;
      padding: .5rem;
      width: auto;
    }
  }
}
