.podcast {
  display: flex;
  max-width: 100%;

  &__container {
    margin-left: 18rem;
    width: 80%;
  }
}

@container (max-width: 520px) {
  .podcast {
    flex-direction: column;

    &__container {
      margin: auto;
      width: auto;
    }
  }
}
