* {
  --color-dark-gray: #5a5a5a;
  --color-light-gray: #8f8f8f;
  --color-navy-blue: #4f89c2;
  --color-dark-blue: #0c66bd;
  --color-pod-white: #eeeeee;
  --color-yellow: #eec049;
  font-family: "Gill Sans", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1298px;
  padding: 6px 6px 0;
}
